@(maybeUser: Option[String])(content: Html)
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Subs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/games">Games</a>
      </li>
    </ul>
    @maybeUser.map { u =>
      <form action="/signout" method="POST" class="form-inline my-2 my-lg-0">
        <button type="submit" class="btn my-2 my-sm-0">Sign out</button>
      </form>
    }
  </div>
</nav>
<main role="main">
    @content
</main>
